.Prospec_root{
 width: 65%;
}

.TopMenuProsp{
    max-width: 65%;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    padding: 10px;
    margin: 20px;
}

.titletopProspc{
    margin: 0;
    padding: 0;
    text-align: start;
}

.Prospec_paper{
    padding: 3px;
    text-align: left;
    margin-bottom: 20px;
}

.Prospec_itemContainer{
    display: grid;
    grid-template-columns: 5fr 1fr;
    justify-items: baseline;
    padding: 20px 10px;
}

.Prospec{
    display: grid;
    margin-left: 45px; 
}

#one{
    display: flex;
    flex: 1;
    margin: auto;
    justify-content: space-between;
}

#one, #two{
    margin-bottom: 20px;
}

.Prospec_inline{
    margin: auto;
    right: 100%;
}

.Prospec_inline #cliente{
    margin-right: 50px;
    
}

Modal{
    border-radius: 8px;
}

#spring-modal-title{
    text-align: center;
    margin: 15px;
    font-size: 20px;
}

Input{
    height: 4rem;
    width: 100%;
    outline: none;
    padding-left: 1rem;
    border-radius: 10px;
    border: 1px solid lightgrey;
    border-bottom-width: 2px;
    font-size: 17px;
    transition: all 0.3s ease;
}


/* Style componente Card*/

.cardPosts{
    flex-grow: 1;
    overflow: hidden;
    background-size: cover;
    margin: 40px auto 20px;
    padding-bottom: 2px;  
}

.Prospec_Buttons{
    display: grid;
    margin: 5px;
}

.Prospec_Buttons Button{
    margin: 3px;
}


