.root{
    max-width: 70%;
}

.menu-heard{
    max-width: 65%;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    padding: 10px;
    margin: 20px;
}

#titleheard{
    margin: 0;
    padding: 0;
    text-align: start;
}

#titleheard h2{
    margin: 0;
}

#titleheard p{
    font-size: 12px;
    margin: 0 0 10px 2px;
}

.paper{
    padding: 3px;
    text-align: left;
    margin-bottom: 30px;
}

.itemContainer{
    padding: 15px;
    margin: 20px;
}

.baseline{
    display: flex;
    flex: 1;
}

.inline{
    margin-right: 30px;
}

.Buttons{
    width: 100%;
    text-align: end;
    align-self: center;
}

.carditens{
    flex-grow: 1;
    overflow: hidden;
    background-size: cover;
    margin: 0px;
    padding: 0px; 
}
