.Posts_rootme{
    max-width: 90%;
    min-width: 471px;

}

.Posts_paper{
    padding: 3px;
    text-align: left;
    color: #ff4081;
    margin-bottom: 20px;
}

.Posts_itemContainer{
   
    padding: 15px;

}
.conteudo{
       /* display: grid; */
       display: flex;
       /* justify-content: space-between; */
       flex: 1;
       margin: auto;
       justify-content: space-between;

}

.Posts_baseline_Mensag{
  
    margin: 10px;
}
.Posts_baseline_Mensag2{
   margin: 10px;
}
.Posts_Buttons{
    margin: 10px;
    text-align: end;
}

.cardPosts{
    flex-grow: 1;
    overflow: hidden;
    background-size: cover;
    margin: 40px auto 20px;
    padding-bottom: 2px;
   
}
.TopMenu{
    display: flex;
    align-items: baseline;
    justify-content: center;
    padding: 10px;
    margin-bottom: 5px;
}